@page
@model Api.Pages.Plane.IndexModel
@{
    ViewData["Title"] = "PlanesList";
}

<partial name="_Notification" />
<h3>List Of Planes</h3>
<hr />

<div class="col-md-4" >
    <div class="row m-lg-1">
    <a asp-page="/Plane/Create" class="btn btn-primary">Create New</a>
    </div>
</div>
<div id="table-container">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.planeList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                <a href="/Plane/Details?id=@item.Id" class="btn btn-primary">Details</a> 
                <a href="/Plane/Edit?id=@item.Id" class="btn btn-warning">Update</a> 
                <a href="/Plane/Delete?id=@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
       
</table>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div class="row m-lg-1">
                    <button id="see-more-btn" class="btn btn-primary mx-auto p-2">See More</button>
                </div>
             </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var pageNumber = 2;
        $('#see-more-btn').click(function () {
            $.get('@Url.Page("/Plane/Index")', { pageNumber: pageNumber }, function (data) {
                $.each(data, function (index, item) {
                    var newRow = '<tr>' +
                        '<td>' + item.Name + '</td>' +
                        '<td>' + item.Model + '</td>' +
                        '<td>' + item.Serial + '</td>' +
                        '<td>' + item.AvailableSeats + '</td>' +
                        '<td>' +
                        '<a href="/Plane/Details?id=' + item.Id + '" class="btn btn-primary">Details</a>  ' +
                        '<a href="/Plane/Edit?id=' + item.Id + '" class="btn btn-warning">Update</a>  ' +
                        '<a href="/Plane/Delete?id=' + item.Id + '" class="btn btn-danger">Delete</a>' +
                        '</td>' +
                        '</tr>';
                    $('#table-container table tbody').append(newRow);
                });
                pageNumber++;
            });
        });
    });
</script>


